* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position:fixed;
  top:0;
  display: flex;
  width: 100%;
  max-width: 1900px;
  align-items: center;
  gap: 10px;
  background-color: #080808;
  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 30px;
}

.title_container{
  width:100%;
  max-width:1200px;
  padding:10px 0;
  background-color:#b3a332;
  margin:30px auto;
}

.title_container p{
   font-size:3rem;
   text-align:center;
}

.links {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.links a {
  text-decoration: none;
  color: white;
}

.btn{
  width:100px;
  padding:3px;
  background-color:#3c35;
 text-align:center;
 text-decoration:none;
}

body {
  background-color: #3c3c3c;
}

.post_container{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  align-items:center;
  justify-content:center;
  margin:20px 0;
}

.post{
  border:1px solid #3c1ca1;
  padding:3px;
 display:flex;
 width:100%;
 max-width:250px;
 gap:7px;
 flex-direction:column;
 color:#000;
 background-color:wheat;
}

#post_main{
  background-color:wheat;
  width:100%;
  height:auto;
  padding:40px 10px;
  display:flex;
  gap:15px;
  align-items:center;
  justify-content:center;
  margin:30px auto;
}

.posts_container{
  width:100%;
  max-width:400px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.single_post_img{
  width:100%;
    max-width:400px;
}

.aleatory_posts_container{
  width:100%;
  max-width:200px;
  display:flex;
  flex-direction:column;
  gap:5px;
}


.aleatory_posts_container img{
  width:100%;
  max-width:200px;
}

.post_img{
  width:100%;
  max-width:260px;
}

.tags_container{
  background-color:#3ca123;
  display:flex;
  gap:5px;
}


footer {
  background-color: #000000;
  bottom: 0;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  color: rgb(255, 255, 255);
}
